.container{
    margin-top:5%;
    text-align: center;
}
.btn{
    width:40%;
    margin-top:1%;
}

@media only screen and (min-width:150px) and (max-width:768px){
    .container{
        margin-top: 20%;
    }
    .btn{
        width:70%;
        margin-top:4%;
    }
}