{% extends 'hofvid/base.html' %}
{% load static %}
{% load social_share %}
{%block title%}{{hall.title|title}}{%endblock%}
{% block stylesheet %}
<link rel='stylesheet' href="{% static 'detail.css'%}">
{% endblock %}
{% block content %}
<div class="container" style=''>
    <h1 style="">{{ hall.title|title }}</h1>
<h3 style="" class="text-muted">by {{ hall.user|capfirst }}</h3>
{% if hall.user == user %}
<a href="{% url 'delete_hall' hall.id %}" style='text-align:center;' class="btn btn-danger">Delete</a>
<a href="{% url 'update_hall' hall.id %}" style='text-align:center;'class="btn btn-primary">Edit</a>
<a href="{% url 'add_video' hall.id %}" style='text-align:center;' class="btn btn-primary">Add Video</a>

{% endif %}
    <div class="row">
      {% for video in hall.video_set.all %}
      <div class="col-md-4 mt-3">
        <div class="card mb-4 shadow-sm">
          <iframe width="100%" height="225" src="https://www.youtube.com/embed/{{ video.youtube_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
            <p class="card-text">{{ video.title }}</p>
              {% if hall.user == user %}
                  <a href="{% url 'delete_video' video.id %}" class="btn btn-danger">Delete</a>
              {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
      </div>
</div>
{% endblock %}